<!DOCTYPE html>
<!-- Markup for the "Sensation Precedes Thought" essay. -->
<html xmlns:th="http://www.thymeleaf.org">
	<div th:replace="~{fragments/essay :: head-tag(${'Sensation Precedes Thought'}, ${'Is free will an illusion?'}, ${'sensation-precedes-thought'})}"></div>
	<div th:replace="~{fragments/global :: navbar}"></div>
	<div th:replace="~{fragments/essay :: header(${'Sensation Precedes Thought'}, ${'2023-05-01'})}"></div>
	<main>
		<p>Hello World!</p>
	</main>
	<div th:replace="~{fragments/essay :: author}"></div>
	<div th:replace="~{fragments/global :: footer(${'2023'})}"></div>
	<div th:replace="~{fragments/global :: navbar-script}"></div>
</html>
