<!DOCTYPE html>
<!-- Markup for the "Sensation Precedes Thought" essay. -->
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
	<div th:replace="~{fragments/essay :: head-tag(${'Sensation Precedes Thought'}, ${'Is free will an illusion?'}, ${'sensation-precedes-thought'})}"></div>
	<div th:replace="~{fragments/global :: navbar}"></div>
	<div th:replace="~{fragments/essay :: header(${'Sensation Precedes Thought'}, ${'2023-05-07'})}"></div>
	<main>
		<p>
			One of the political issues that I've always been interested in, is
			abortion. Perhaps not because of the issue in and of itself, but
			because of what it represents. It may be the best example of a
			phenomenon that absolutely fascinates me, that which makes politics a
			<em>thing</em> in the first place: two people, looking at the same
			set of facts, and coming to radically different conclusions.
		</p>
		<p>
			I'll never tire of it. Bravery, or foolishness? Cautious, or
			cowardly? Discipline, or cruelty? Love, or enablement? Exciting, or
			terrifying? I feel these differences in sensibilities drive almost
			all political issues, and abortion is somewhat of the textbook example.
		</p>
		<p>
			And recently, I've started to question where these
			sensibilities come from. Why does one person come to believe that
			abortion is a woman's personal choice, and another that abortion is
			the murder of an innocent life? What drives these frames of
			reference? Did they just hear a convincing argument one day and
			decide, &ldquo;Well, that does it, I'm pro-<em>this</em> now!&rdquo;
			No, that seems off.
		</p>
		<p>
			I cannot speak for anyone else, but introspection into my feelings
			about abortion revealed that I simply had an <em>intuition</em>
			about the subject. It's as if the issue simply found its way through
			my brain tissue, and eventually something just clicked, some spark
			ignited, and a flame of passion decided where I would take my stand
			(which I won't mention because that's a <em>whole</em> different
			story).
		</p>
		<p>
			Is this how it works for everyone else? If so, where does this intuition
			come from? The straightforward answer is: it was inherited, and then
			honed through experience during our upbringings.
		</p>
		<p>
			...but then you start to think about it more, and that's where the
			fun (?) begins.
		</p>
		<p>
			You could've been born to anyone. You're a victim &mdash; or a
			beneficiary, if you're lucky &mdash; of your parents. You are a <em>result</em>,
			and the obvious hints are your physical attributes. It doesn't have
			to be exact, and there are exceptions, but generally, your size,
			your appearance, your skin color... all about the same. Mental
			attributes are affected too. Your
			personality, your beliefs, your values... much of them are
			inherited, too. One interesting example of this, is how children often
			<a href="https://news.gallup.com/poll/14515/teens-stay-true-parents-political-perspectives.aspx">inherit</a>
			their parents' political leanings.
		</p>
		<p>
			&ldquo;Nuture&rdquo; also leaves its impression. Consider the variables that
			go into a person's upbringing. Where are they born, what country? Is
			it a first-world country, a second-world, a third-world? What
			culture are they born into? Someone growing up in the Middle East is
			going to have different experiences compared to someone growing up
			in Western Europe. And consider <em>time</em> as well. Growing up in
			modern-day, 2023 Germany is going to be quite different compared to growing
			up during the years of <em>you-know-who</em>.
		</p>
		<p>
			Moreso, consider this: nuture is inextricably tied to nature,
			because any experiences you have growing up are interpreted through
			your inherited lens, i.e. the not-so-blank slate of a brain that your
			parents have given you.
		</p>
		<p>
			What are we then? What do we really see with our eyes, what do we
			really hear with our ears? We see feelings, and we hear feelings.
			Feelings crafted by nature and nuture, churned out by biological
			machinery in the brain, and then we rationalize these
			feelings and they become thought and ideas.
		</p>
		<p>
			The other way around simply seems too strange. Do we really just sit
			around and think about issues, and then decide that X is good and Y
			is bad? No, we have instinctual leanings, we understand inherently
			that some things are right and some things are wrong.
		</p>
		<p>
			And now we return to the issue of abortion. It so
			&ldquo;undebatable,&rdquo; it's straight-up axiomatic. Sensation drives the
			issue from the very root and nothing else matters. Either you feel
			for the unborn, or you don't. You fall in line with where the
			universe deems you should be.
		</p>
		<p>
			I've read about various pro-life and pro-choice arguments, such as
			the famed <a href="https://en.wikipedia.org/wiki/A_Defense_of_Abortion">violinist argument</a>,
			but all the arguments seem pointless if one considers that &ldquo;sensation
			precedes thought.&rdquo; Then they're all just rationalizations,
			trying to think our way through our
			<a href="https://www.britannica.com/science/amygdala">amygdalas' whims</a>.
		</p>
		<p>
			And yet, somewhat ironically, I <em>feel</em> hesistant to fully buy
			into this idea. It has a lot of ramifications, and I think it's
			closely related to the idea of free will and determinism, and I
			don't feel confident enough to step into that territory.
		</p>
		<p>
			The laws of physics, the nature of the universe, the existence of
			God &mdash; so many things go into the free-will debate. I regret
			that I have neither the knowledge nor expertise to explore that,
			because I think that's where my ramblings ultimately lead to: if
			sensation precedes thought, then what does that imply about free
			will?
		</p>
	</main>
	<div th:replace="~{fragments/essay :: author}"></div>
	<div th:replace="~{fragments/global :: footer(${'2023'})}"></div>
	<div th:replace="~{fragments/global :: navbar-script}"></div>
</html>
