<!DOCTYPE html>
<!-- Markup for the "Sensation Precedes Thought" essay. -->
<html xmlns:th="http://www.thymeleaf.org">
	<div th:replace="~{fragments/essay-fragments :: head_tag(${'Sensation Precedes Thought'}, ${'Is free will an illusion?'}, ${'sensation-precedes-thought'})}"></div>
	<div th:replace="~{fragments/essay-fragments :: navbar}"></div>
	<div th:replace="~{fragments/essay-fragments :: header(${'Sensation Precedes Thought'}, ${'2023-05-01'})}"></div>
	<main>
		<p>Hello World!</p>
	</main>
	<div th:replace="~{fragments/essay-fragments :: author}"></div>
	<div th:replace="~{fragments/essay-fragments :: footer(${'2023'})}"></div>
	<div th:replace="~{fragments/essay-fragments :: navbar_script}"></div>
</html>
