/** Provides "global" rulesets and variables i.e. meant to be shared across all pages. */

@import "normalize.css";

:root {
	--primary-font: 'EB Garamond', serif;
	--secondary-font: 'Roboto', sans-serif;
	--secondary-font-default-weight: 700;

	--max-width: 668px;
	--max-width-mobile: 95%;
}

:root.light-theme {
	--background-color: #f5f1e5;
	--alt-background-color: #f0ead8;
	--alt-background-color-hover: #e3ddcc;
	--text-color: #514d47;
	--alt-text-color: #a39f96;
	--link-color: #72abbf;
	--border-color: #ddd9c9;
}

:root.dark-theme {
	--background-color: #282828;
	--alt-background-color: #222222;
	--alt-background-color-hover: #2e2e2e;
	--text-color: #a4a4a4;
	--alt-text-color: #a4a4a4;
	--link-color: #72abbf;
	--border-color: #4e4e4e;
}

body {
	background: var(--background-color);
	color: var(--text-color);
	font-family: var(--primary-font);
}

html, body {
	min-height: 100vh;
	overflow: auto;
}
