<!DOCTYPE html>
<!-- This HTML file provides fragments that are used for the blog posts i.e. "essays". -->
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="head-tag(title, description, id)">
		<th:block th:replace="~{fragments/global :: common-head-tags}"></th:block>
		<title th:text="${title} + ' - On Good And Evil'">Sample Essay Title - On Good And Evil</title>
		<meta name="description" th:content="${description}" content="Sample search description." />
		<link rel="canonical" th:href="'https://www.ongoodandevil.com/blog/' + ${id}" href="https://ongoodandevil.com/blog/sample-essay-id" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/pages/essay.css}" href="../static/css/pages/essay.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;1,400&family=Roboto:wght@700&display=swap" rel="stylesheet">
	</head>
	<body>
		<nav th:fragment="navbar">
			<div id="navbar-inner-container">
				<a id="navbar-home-link" href="/">
					<img id="navbar-logo" alt="scales of justice" th:src="@{/img/favicon.svg}" src="../../static/img/favicon.svg" />
					ON GOOD AND EVIL
				</a>
				<button type="button" id="navbar-menu-button" onclick="toggleMenuLinks()">
					<i id="navbar-menu-icon" class="bi bi-list"></i>
				</button>
			</div>
			<ul id="navbar-menu-links">
				<a href="/" class="navbar-menu-link">Home</a>
			</ul>
		</nav>
		<header th:fragment="header(title, date)">
			<h1 th:text="${title}" id="essay-title">Sample Essay Title</h1>
			<time
				th:text="${helper.processIsoDate(date)}"
				th:time="${date}"
				time="1970-01-01"
				id="essay-date"
			>
				JANUARY 1, 1970
			</time>
		</header>
		<address th:fragment="author" id="essay-author">
			<p id="essay-by-author">By Westermeister</p>
			<p id="essay-about-author">
				I like to write about philosophy, politics, and ethics.
				If you liked this post or have any feedback, feel free to
				<a rel="author" href="mailto:westermeister12@gmail.com">send me an email!</a>
			</p>
		</address>
		<footer th:fragment="footer(year)" th:text="'Copyright ' + ${#strings.escapeXml('&copy;')} + ' ' + ${year} + ' Westermeister'">
			Copyright &copy; 1970 Name
		</footer>
		<script th:fragment="navbar-script" th:src="@{/js/navbar.js}" src="../../static/js/navbar.js"></script>
	</body>
</html>
