<!DOCTYPE html>
<!-- Home page for the website. -->
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:replace="~{fragments/global :: common-head-tags}"></th:block>
		<link rel="canonical" href="https://www.ongoodandevil.com" />
		<meta name="description" content="Essays about morality" />
		<title>On Good And Evil</title>
		<link rel="stylesheet" type="text/css" href="../static/css/pages/index.css" th:href="@{/css/pages/index.css}" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=EB+Garamond:wght@400;500;600&family=Playfair+Display&family=Roboto:wght@700&display=swap" rel="stylesheet">
	<body>
		<div th:replace="~{fragments/global :: navbar}"></div>
		<header>
			<h1 id="title">
				<span id="title-on">On</span>
				<span id="title-good-and-evil">GOOD AND EVIL</span>
			</h1>
			<hr id="title-tagline-separator" />
			<p id="title-tagline">Essays about morality</p>
		</header>
		<main>
			<div th:replace="~{fragments/index :: essay-list-item(${'Sensation Precedes Thought'}, ${'2023-05-07'}, ${'sensation-precedes-thought'})}"></div>
		</main>
		<div th:replace="~{fragments/global :: footer(${'2023'})}"></div>
		<div th:replace="~{fragments/global :: navbar-script}"></div>
	</body>
</html>
