/* Provides styling for the navigation bar at the top of each page. */

@import "../base/global.css";

#navbar {
	height: 3rem;
	background: var(--alt-background-color);
	border-bottom: 1px solid var(--border-color);
}

#navbar-menu-items {
	/* Initial value only; will be overridden as we toggle the menu on and off. */
	display: none;

	margin: 0 auto;
	max-width: var(--max-width);
	background: var(--alt-background-color);
	padding: 0;
	position: relative;
	border: 1px solid var(--border-color);
}

.navbar-menu-item-container {
	list-style-type: none;
	border-bottom: 1px solid var(--border-color);
}

.navbar-menu-item {
	padding: 1rem 0;
	font-size: 1.25rem;
	display: block;
	text-align: center;
}

.navbar-menu-link {
	color: var(--link-color);
	text-decoration: none;
	font-weight: 500;
}

.navbar-menu-link:hover, .navbar-menu-link:active {
	background: var(--alt-background-color-hover);
	text-decoration: underline;
}

#navbar-menu-items:last-child {
	border-bottom: none;
}

#navbar-inner-container {
	margin: 0 auto;
	max-width: var(--max-width);
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#navbar-theme-dropdown {
	background: var(--background-color);
	color: var(--text-color);
	border: 1px solid var(--border-color);
	margin-left: 0.5rem;
}

.navbar-theme-option {
	background: var(--alt-background-color);
}

#navbar-logo {
	width: 1.5rem;
	height: 1.5rem;
	vertical-align: text-top;
	margin-right: 0.25rem;
}

#navbar-home-link {
	color: var(--text-color);
	font-size: 1.25rem;
	font-family: var(--primary-font);
	font-weight: 400;
	text-decoration: none;
}

#navbar-home-link:hover, #navbar-home-link:active {
	text-decoration: none;
}

#navbar-menu-icon {
	font-size: 1.5rem;
	color: var(--text-color);
}

#navbar-menu-button {
	line-height: 1;
	background: transparent;
	border: none;
	cursor: pointer;
}

@media screen and (max-width: 700px) {
	#navbar-inner-container {
		max-width: var(--max-width-mobile);
	}

	#navbar-menu-items {
		max-width: 100%;
	}

	.navbar-menu-item {
		font-size: 1.125rem;
	}
}
